body, html{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	display: flex;
	/*background-image: url("../imagini/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
}
img#bg-image {
    position: absolute;
    top: 0;
    left: 0;
	z-index: -1;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.ch_list{
	position: relative;
	height: 100%;
	width: 35%;
	background-color: #ffffff1f;
	display:inline-block;
	border-right: 5px solid #3b3b3b;

}

.ch_area{
	/*height: 97%;	
	width: 64%;
	padding-top: 20px;
	position: absolute;
	display:inline-block;*/
	position: relative;
	width: 100%;
	height: 95%;
	overflow-y: scroll;
}
.right_area{
	display:flex;
	flex-direction: column;
	position: relative;
	/*background-color:red;*/
	width: 100%;
	height: 100%;
}
.chat_people{
	background-color: #00000059;
	padding: 8px 0;
	margin-top: 4px;
	height: 50px;
}
.menuu{
	width: 100%;
	height: 50px;
	display:flex;
	flex-direction: row;
}
.profile_image{
	margin-top: 5px;
	width: 50px;
	border-radius: 100%;
	background-color:red;
	float:right;
}
.name_holder{
	display:inline-block;
	padding: 0.5em 3em;
	border: 0.16em solid #FFFFFF;
	margin: 5px 0.3em 0.3em 5px;
	box-sizing: border-box;
	text-decoration: none;
	text-transform:uppercase;
	font-family:'Roboto', sans-serif;
	font-weight: 400;
	position:relative;
	color:#DDDDDD;
}
.logout_button{
	display:inline-block;
	padding: 0.5em 3em;
	border: 0.16em solid #FFFFFF;
	margin: 5px 0.3em 0.3em 0;
	box-sizing: border-box;
	text-decoration: none;
	text-transform:uppercase;
	font-family:'Roboto', sans-serif;
	font-weight: 400;
	position:absolute;
	right: 0;
	color:#DDDDDD;
}
.logout_button:hover{
	color:#DDDDDD;
	border-color:#BBBBBB;
}


.prof_pic{
	width: 50px;
	margin-left: 10px;
	border-radius: 100%;
	display:inline-block;
}

.chat_people *{
	position: absolute;
}
.name{
	margin-left: 72px;
}
.last_message{
	margin-left: 72px;
	margin-top: 30px;
	color: gray;
}
.peoples_list{
	position:relative;
	margin-top: 80px;
}

.search_bar{
	position: relative;
	font-family: lato;
	border: none;
	display: block;
	margin: 0 auto;
	width: 80%;
	margin-top: 15px;
	/*left: 15%;
	transform: translatex(-50%);
	padding: 4px 10px;
	margin: 16px 0 0 0;
	width: 26%;*/
}

.name{
	width: 21%;
	text-overflow: ellipsis;
	color: white;
	overflow: hidden;
	white-space: nowrap;
}

.last_message{
	width: 21%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.msgl{
	padding: 15px;
	position: relative;
	border-radius: 4px;
	color: white;
	font-size: 18px;
	margin: 5px 0;
	word-break: break-all;
	background-color: #0000007a;
}

.msgr{
	padding: 15px;
	margin-right: 15px;
	position: relative;
	border-radius: 4px;
	color: white;
	font-size: 18px;
	margin: 5px 0;
	word-break: break-all;
	background-color: #0000007a;
}

.l_message{
	display: flex;
	margin-left: 15px;
	width: 80%;
}

.r_message{
	display: flex;
	float: right;
	margin-right: 15px;
	width: 80%;
}

.back_arrow{
	display: none;
}

.send_bar{
	/*bottom: 9px;
	width: 93%;
	margin-left: 4%;
	position: absolute;*/
	position: relative;
	width: 90%;
	/*text-align: center;*/
	margin: auto;
}

.lobtn{
	position: absolute;
	width: 40px;
	right: 10px;
}

@media screen and (max-width: 600px){
	.ch_list{
		height: 100%;
		width: 100%;
		/*background-color: red;*/
		display:inline-block;
		border: none;
		background-image: url("../imagini/jemecherie.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.ch_area{
		width: 100%;
		padding-top: 59px;
		height: 90%;
		
	}
	
	.search_bar{
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
		width: 80%;
	}
	
	.name{
		width: 74%;
		color: #d1d1d1;
	}
	.last_message{
		width: 74%;
	}
	
	.chat_people{
		background-color: #ffffff21;
	}
	
	.l_message, .r_message{
		width: 76%;
	}
	
	.back_arrow{
		/*width: 20px;
		display: inline;
		transform: translate(55%,108%);
		position: absolute;
		z-index: 10;*/
		width: 20px;
		display: inline-block;
		position: relative;
		float:left;
	}

}

@media screen and (min-width: 600px) and (max-width: 800px){
	.ch_list{
		height: 100%;
		width: 40%;
		/*background-color: red;*/
		display:inline-block;
	}

	.ch_area{
		height: 97%;
		width: 59%;
		display:inline-block;
	}
	
	.search_bar{
		position: absolute;
		left: 20%;
		transform: translatex(-50%);
		width: 34%;
	}
	
	.name{
		width: 28%;
		color: white;
	}
	
	.last_message{
		width: 28%;
	}
}

/*custom scrollbar*/
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}